# Ignore Python cache files
__pycache__/

# Ignore MkDocs build directory (if not needed in the repo)
# site/

# Ignore VS Code settings (optional)
.vscode/

# Ignore LaTeX auxiliary files
*.aux
*.log
*.out
*.toc

# Ignore temporary files
*.tmp
*.temp
